body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.navbar {
  width: 200px;
  background-color: #333;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  margin: 0;
}

#brand-name {
  font-size: 30px;
  font-family: cursive;
}

#brand-name:hover {
  background-color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: #575757;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 200px;
  border-radius: 25px;
}

.dropdown-content a {
  padding: 10px;
  border-radius: 25px;
  background-color: #7a7777;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
