* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.mainTop {
  height: 5rem;
  background-color: #ff9b43;
  width: 100vw;
  border: 1px solid black;
}

.mainBottom {
  height: 38.95rem;
  background-color: rgb(145, 56, 0);
  width: 100vw;
  display: flex;
}

.mainLeft {
  background-color: #b59f78;
  width: 16rem;
  border: 1px solid black;
}

.menu {
  display: grid;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px black dashed;
  padding: 10px;
  cursor: pointer;
}

.menu a:hover {
  background-color: #faf6e3;
  transition: 0.15s ease-in;
}

.mainRight {
  background-color: rgb(255, 196, 227);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.content {
  background-color: #faf6e3;
  height: 32rem;
  width: 84vw;
}

.footer {
  background-color: rgb(20, 5, 75);
  height: 8rem;
  width: 84vw;
}
